@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.formSection {
 background-color: silver;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  align-items: flex-start;
  }

.messageForm {
  /* background-color: grey; */
  width:350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputContainer {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
  padding:0 32px;
}
/* .inputContainer label{
    margin-right: 16px;
} */
.topnav {
  display:flex;
  justify-content: space-between;
  padding:16px 32px;
  position: sticky;
  top: 0;
  background-color: rgb(189, 232, 249);
  border: 3px solid;
  border-radius: 10px;
  margin: 10px;
}
.exp {
  display:flex;
  max-width: 100%;
  flex-direction: column;
}

.messageGrid {
  width: 800px;
  display: grid;
  grid-template-columns: auto auto auto;
}

body {
  background-color: #deb887;
  text-align: left;
  font-family: "Oswald", sans-serif;
  /* padding: 40px; */
}

/* * {
  margin: 2%;
} */

img {
  width:100%;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: maroon;
}

h2 {
  font-size: 20px;
  font-weight: 100;
  color: maroon;
}
/* #gitAndEmail,
#projects,
#skills,
#about,
#liExp,
#messageForm,
#liProject  */
.myStyle{
  display: flex;
  flex-direction: column;
  background-color: bisque;
  margin: 10px;
  border: 3px solid;
  border-radius: 10px;
  padding: 30px;
}
.imgStyle {
  display:flex;
  justify-content: center;


width: 100%;

}


#fL1 {
  color: red;
}
#fL2 {
  color: blue;
}
#fL3 {
  color: green;
}
/* #fI1 {
  color: brown;
  margin-bottom: 25px;
}
#fI2 {
  color: brown;
  margin-bottom: 25px;
}
#fI3 {
  color: brown;
  margin-bottom: 25px;
} */
#formButton {
    width:100px;
  color: black;
  padding-inline: 30px;
  background-color: #d5a021;
  border-color: #c18e27;
  align-self: flex-end;
  margin-right: 32px;
}
/* #leaveMessage {
  background-color: peachpuff;
  padding: 20px;
  border: 3px solid;
  border-radius: 10px;
  margin: 10px;
} */
button {
  color: black;
  padding-inline: 30px;
  background-color: #d5a021;
  border-color: #c18e27;
  cursor: pointer;
}
.removeButtonAlt {
margin-left: 10px ;
}

#foot {
  display:flex;
  justify-content: center;
  margin: 10px auto;
  background-color: goldenrod;
  border: 3px solid;
  border-radius: 10px;
  width: 120px;
}

@media screen and (max-width: 320px) {
  .screen320 {
    margin-left: -30px;
  }
}
@media screen and (max-width: 920px) {
  .messageGrid {
    grid-template-columns: auto8;
  }
}

/* the above slides the form fields 
to the right when in phone size*/

/* note: need to refactor everything and 
rework some things, the bullets, 
some are in the box while others are not??? */
