@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.nameHeader {
  display: flex;
  margin-left: 20px;
  color: maroon;
}

.formSection {
  background-color: silver;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.messageForm {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
  padding: 0 32px;
}

.topnav {
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 93.7%;
  padding: 16px 32px;
  position: sticky;
  top: 0;
  background-color: rgb(189, 232, 249);
  border: 3px solid;
  border-radius: 10px;
  margin: 10px;
}

body {
  background-color: #deb887;
  text-align: left;
  font-family: "Oswald", sans-serif;
  padding: 40px;
}

h2 {
  font-size: 30px;
  font-weight: 530;
  color: maroon;
}

.expColumn ul {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.expColumn li {
  min-width: 46%;
  justify-content: space-between;
  list-style-type: none;
  /* width:100%; */
  flex: 0 0;
  padding: 10px;
}

#messages a {
  display: flex;
  flex-wrap: wrap;
}

.myStyle {
  width: 94%;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  margin: 10px;
  border: 3px solid;
  border-radius: 10px;
  padding: 30px;
  font-size: 24px;
}

.imgStyle {
  display: flex;
  justify-content: center;
  width: 100%;
}

.fL1 {
  color: red;
}

.fL2 {
  color: blue;
}

.fL3 {
  color: green;
}

#formButton {
  width: 100px;
  color: black;
  padding-inline: 30px;
  background-color: #d5a021;
  border-color: #c18e27;
  align-self: flex-end;
  margin-right: 32px;
}

button {
  color: black;
  padding-inline: 30px;
  background-color: #d5a021;
  border-color: #c18e27;
  cursor: pointer;
}

.removeButtonAlt {
  margin-left: 10px;
}

#foot {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  background-color: goldenrod;
  border: 3px solid;
  border-radius: 10px;
  width: 120px;
}

.formSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 400px) {
  .screen320 {
    margin-left: -50px;
  }
  #formButton {
    margin-right: 113px;
  }
  .inputBox {
    margin-right: 60px;
  }
  .topnav {
    position: sticky;
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 32px;
    font-size: 12px;
    top: 0;
    background-color: rgb(188, 232, 249);
    border: 3px solid;
    border-radius: 10px;
    margin: 10px;
  }
  .myStyle {
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 100%;
    margin: 10px;
    border: 3px solid;
    border-radius: 10px;
    padding: 30px;
    font-size: 18px;
  }
}

